<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="API_VERSION" value="2.4" />
  </appSettings>
  <connectionStrings>
    <!-- PRODUCTION -->
    <!--<add connectionString="server=172.30.3.60;database=MEETBALL_PROD;
         user id=mb_sql_svc_prod;password=m33t8all!" name="meetball"/>-->

    <!-- NEW DEVELOPMENT -->
    <!--private IP: 172.30.3.186 - old: mbdev.meetball.com-->
    <add connectionString="server=172.30.3.186;database=Meetball_Log;user id=mb_sql_svc_dev;&#xD;&#xA;         password=m33t8all!"
                             name="meetball"/>

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="LoggingService.Service" behaviorConfiguration="webHttpEnablingBehavior">

        <endpoint address="" binding="webHttpBinding" bindingConfiguration="default" 
                  behaviorConfiguration="webHttpEnablingBehavior" contract="LoggingService.IService.IServiceJson" />
      
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="default" />
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="default" allowCookies="true" />
      </basicHttpBinding>
    </bindings>

    <behaviors>
      
      <serviceBehaviors>
        <behavior>
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" 
                                messageAuthenticationAuditLevel="Failure" suppressAuditFailure="True" />
        </behavior>
          
        <behavior name="webHttpEnablingBehavior">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy15" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webHttpEnablingBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>